body {
    background-color: white;
}

.table {
    width: 50%;
    margin: auto;
}

th,
td {
    text-align: center;
    /* justify-content: center; */
}

td {
    font-size: 20px
}

.fa {
    font-size: 30px !important;
}

.btn:focus {
    /* border: 1px solid black; */
    /* box-shadow: none */
}
.fa:active {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}